.env
.env.*
!.env.sample
*.session
*.session-journal
*.session-shm
*.session-wal
*.db
*.db-journal
*.sqlite
*.sqlite3
database.json
.megarc
build/
dist/
*.mp3
*.webm
*.webp
*.mp4
*.tgs
*.txt
/*.jpg
/*.png
/*.mp4
*.log
logs/
target/npmlist.json
package-lock.json
ultroid.json
resources/extras/thumbnail.jpg
resources/auth/
resources/auths/
resources/downloads/
downloads/

# Directories
addons/
vcbot/
__pycache__/
venv/
.venv/
env/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
node_modules/
glitch_me/
src/glitch-me
.idea/
.vscode/
temp/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/
*.swf
*.air
*.ipa
*.apk

# temporary files
*.raw

# fly.io configs
fly.toml
